body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: yellow;
}

header {
    background-color: yellow;
}

body > header {
    text-align: center;
    padding: 20px;
    box-shadow: 0px 1px 3px 0px;
    font-weight:bold;
    background-color: rgb(243, 243, 89);
    color: #F08080;
    
}