<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base.html">
    <title>Document</title>
</head>
<body>
    <header>
        <h1> What are the rules of RPS?</h1>
    </header>
    
    <section>  
        
     <p>The players may count aloud to three, or speak the name of the game, e.g. "Rock! Paper! Scissors!", either raising one hand in a fist and swinging it down with each syllable or holding it behind their back. They then "throw" by extending it towards their opponent. Variations include a version where players throw immeidately on the third count, thus throwing on the count of "Scissors", or a version where they shake their hands three times before "throwing".</p>
 
     <p>Rock wins against scissors.
        Scissors win against paper.
        Paper wins against rock.
        If the same are drawn, its a draw. Rematch decides!</p>
    
    </section>

  
        
</body>
</html>